
/* TOP HEADER */

.influ{
    display: flex;
   justify-content: center;
   align-items: center;

    height: 80vh;
    border: 1px solid royalblue
    
}
.left-width{
   width: 300px;
}
.right-width{
    width: 300px;
}

.left-width a{
    text-decoration: none;
    background-color:  #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
   margin-top: 20px;
    
}
.right-width img{
    width: 100%;
    height: 100%;
 
}
/* TOP BANDS */
.band{
    display: flex;
    justify-content: center;
    align-items: center;
   
  
}
.band img{
    margin-left: 50px;
    width: 53.85px;
height: 20.52px
}





@media screen and (max-width: 776px){
 
 .influ{
   display: flex;
   flex-direction: column-reverse;
 }
  
 .left-width{
    width: 170px;
    
 }
 .right-width{
    width: 300px;
    height: 160px;
 }
   .band{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  
   }

}


    
